<div id="voters_div" class="voters_div" style="position:absolute;display:none;background-color:black;color:white;padding:5px;"><small>Loading...</small></div>
<div class="well well-small well-white no-bottom-space margin-bottom-10" id="container_<%=timeline_item.id%>">
  <div class="pull-right">
    <%= link_to "<i class='icon-chevron-down'></i>".html_safe, :controller => :users, :action => :show_options_bubble, :id => timeline_item.id, :remote => "true"%>
    <div id="options_bubble_<%=timeline_item.id%>" style= "display:none;" class="options_bubble well well-small well-white">
    </div>
  </div>
  <div>
    <%=user_avatar_one_line_small(timeline_item.user).html_safe%>
    <small>- <%= time_ago_in_words timeline_item.created_at%> ago</small>
  </div>
  <div class="status_text no-bottom-space">
    <div><h6><%= timeline_item.title %></h6></div>
    <ul class="thumbnails no-bottom-space no-bottom-margin" style="margin-left:0px;">
      <%@width = 160%>
      <%#next array is for facebook image%>      
      <%@images_for_fb = Array.new%>
      
      <%if timeline_item.options.count == 2 then @width = 244 end%>
    <% timeline_item.options.each do |answer|%>
    <li class="text-center thumbnail_custom" style="margin-bottom: 0; margin-left:1px;">
      <%@images_for_fb << answer.image_id%>
      <%= cl_image_tag answer.image_id,:crop => 'pad', :width=> @width, :height => @width, :class=>"custom_preview" %>
      <br/><span class="text-center"><%=answer.title%></span><br/>
      <span class="muted text-center some_trigger">
        Votes:<%=link_to (render partial: "/votes/count_cvotes", :locals => {:answer => answer, :timeline_item => timeline_item}), {action: 'list_voters', id: answer.id, group: timeline_item.id}, :remote => true%>
        <%#= render partial: "/votes/count_cvotes", :locals => {:answer => answer, :timeline_item => timeline_item}%>
      </span>
      <%if current_user.voted_on_cvote?(timeline_item)%>
        <%voted_answer = current_user.get_voted_answer_on_cvote(timeline_item)%>
      <%if answer.id == voted_answer.target_id %>
      <br><i class='icon-ok'></i>
      <%end%>
      
      <%elsif current_user.owner_of_contribution?(timeline_item)%>
      <%else%>
      <span id="button_<%=answer.id%>">
        <%=button_to "Vote", {:controller => "votes", :action => "vote_on_cvote", :cvote_id => timeline_item.id, :answer_id => answer.id} , :class=>"btn btn-success", remote: true, :method => :get%>
			</span>
      <%end%>
    </li>
    <%end%>
    </ul>
  </div>
  <%= render partial: "/users/renderers/generate_fb_share_cvote", :locals => {:timeline_item => timeline_item}%>

  <hr class="thin-line">
  <%= render partial: "comments", :locals => {:contribution => timeline_item}%>  	
</div>
<div id="preview_div" class="preview_div" style="position:absolute;display:none;padding:5px;"><small></small>
  <img id="preview_image" class="preview_image">
</div>
<script>
/*
$(document).ready(setTimeout(function(){
 $('.custom_preview').hover(function(e){
 var top = e.pageY+'px';
 var left = e.pageX+'px';   
 //$.ajax($(this).data('url'));
 $('#preview_div').css({position:'absolute',top:top,left:left}).show();
 //$('#preview_div').html(this.src + "hghghghgh"); 
   var s = this.src
   s = s.replace("c_fill,h_168,w_168/","c_pad,h_300,w_500/");
   //s = s.replace("w_168", "");
   $('.preview_image').attr('src', s);
  }, function() {
    $("#preview_div").hide();
    //$("#preview_div").html("Loading ...");
});
}),3000);
*/
</script>
<script>

$('.some_trigger').mouseup(function(e){
  var top = e.pageY+'px';
  var left = e.pageX+'px';   
	$('#voters_div').css({position:'absolute',top:top,left:left}).show(); 
});

</script>

<script>
$(document).ready(function(){
    $('a[href*="#"]').click(function(){
        $($(this).attr("href")).effect("highlight", {}, 1500);
    });
});
  </script>