<div class="well well-small well-white no-bottom-space">
  <div>
    <%=user_avatar_one_line_small(timeline_item.user).html_safe%>
    <small>- <%= time_ago_in_words timeline_item.created_at%> ago</small>
  </div>
  <div class="status_text no-bottom-space">
    <div><h6><%= timeline_item.title %></h6></div>
    <ul class="thumbnails no-bottom-space no-bottom-margin">
    <% timeline_item.options.each do |answer|%>
    <li class="span2 text-center thumbnail_custom" style="margin-bottom: 0">
      <%= cl_image_tag answer.image_id,:crop => 'fill', :width=> 168, :height => 168 %>
      <span class="muted text-center">
        Votes:<%= render partial: "/votes/count_cvotes", :locals => {:answer => answer}%>
      </span>
      <%if current_user.voted_on_cvote?(timeline_item)%>
        <%voted_answer = current_user.get_voted_answer_on_cvote(timeline_item)%>
      <%if answer.id == voted_answer.target_id %>
          <br><i class='icon-ok'></i>
        <%end%>
      <%else%>
      <span id="button_<%=answer.id%>">
        <%=button_to "Vote", {:controller => "votes", :action => "vote_on_cvote", :cvote_id => timeline_item.id, :answer_id => answer.id} , :class=>"btn btn-success", remote: true, :method => :get%>
			</span>
      <%end%>
    </li>
    <%end%>
    </ul>
  </div>
</div>