<div class="well well-small well-white margin-bottom-10" id="container_<%=timeline_item.id%>">
  <div class="pull-right">
    <%= link_to "<i class='icon-chevron-down'></i>".html_safe, :controller => :users, :action => :show_options_bubble, :id => timeline_item.id, :remote => "true"%>
    <div id="options_bubble_<%=timeline_item.id%>" style= "display:none;" class="options_bubble well well-small well-white">
    </div>
  </div>
  <div>
    <%=user_avatar_one_line_small(timeline_item.user).html_safe%>
    <small>- <%= time_ago_in_words timeline_item.created_at%> ago</small>
  </div>
  <div class="status_text">
    <%=timeline_item.body%>
  </div>
  <%if !timeline_item.image_id.nil?%>
  <div class="status_text">
    <%= cl_image_tag timeline_item.image_id, :crop => 'fill', :width=> 500, :height => 300%>
  </div>
  <%end%>
  <%if !current_user.owner_of_contribution?(timeline_item)%>
  <%voted_on_status = current_user.voted_on_status?(timeline_item)%>
  <div class="status_voting_div">
    <span class="">
      <%if !voted_on_status.nil? and voted_on_status.like_type == Chilivote::Application.config.like_up%>
        <%=cl_image_tag Chilivote::Application.config.thumb_up_green%>
      <%elsif !voted_on_status.nil? and voted_on_status.like_type == Chilivote::Application.config.like_down%>
       <%=cl_image_tag Chilivote::Application.config.thumb_up_black%>
      <%else%>
        <%=link_to (cl_image_tag Chilivote::Application.config.thumb_up_black), "/votes/vote_status_up"+"?id=" + timeline_item.id.to_s, :remote => true%>
      <%end%>
    </span>
    <span class="votes_count" id="status_votes_up_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_up", :locals => {:status => timeline_item}%>
    </span>
    <span class="">
       <%if !voted_on_status.nil? and voted_on_status.like_type == Chilivote::Application.config.like_up%>
        <%=cl_image_tag Chilivote::Application.config.thumb_down_black%>
      <%elsif !voted_on_status.nil? and voted_on_status.like_type == Chilivote::Application.config.like_down%>
       <%=cl_image_tag Chilivote::Application.config.thumb_down_red%>
      <%else%>
        <%=link_to (cl_image_tag Chilivote::Application.config.thumb_down_black), "/votes/vote_status_down"+"?id=" + timeline_item.id.to_s, :remote => true%>
      <%end%>
    </span>
    <span class="votes_count" id="status_votes_down_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_down", :locals => {:status => timeline_item}%>
    </span>
    <%if current_page?(action: 'show_public')%>
    <div class="pull-right follow_control_<%=timeline_item.user.id.to_s%>">
      <%=render partial: "/friendship/following_partial", :locals => {:user => timeline_item.user}%>
    </div>
    <%end%>
  </div>
  <%else%>
    <div class="status_voting_div">
    <span>
      <%=cl_image_tag Chilivote::Application.config.thumb_up_black%>
    </span>
    <span class="votes_count" id="status_votes_up_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_up", :locals => {:status => timeline_item}%>
    </span>
    <span>
     <%=cl_image_tag Chilivote::Application.config.thumb_down_black%>
    </span>
    <span class="votes_count" id="status_votes_down_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_down", :locals => {:status => timeline_item}%>
    </span>
    </div>
  <%end%>
  <hr class="thin-line">
  <%= render partial: "comments", :locals => {:contribution => timeline_item}%>  
</div>