<div class="well well-small well-white">
  <div>
    <%=user_avatar_one_line_small(timeline_item.user).html_safe%>
    <small>- <%= time_ago_in_words timeline_item.created_at%> ago</small>
  </div>
  <div class="status_text">
    <%=timeline_item.body%>
  </div>
  <%if !timeline_item.image_id.nil?%>
  <div class="status_text">
    <%= cl_image_tag timeline_item.image_id, :crop => 'fill', :width=> 500, :height => 300%>
  </div>
  <%end%>
  <%if !current_user.owner_of_contribution?(timeline_item)%>
  <div class="status_voting_div">
    <span class="vote_up"><i class="icon-arrow-up"></i>
      <%=link_to "vote up", "/votes/vote_status_up"+"?id=" + timeline_item.id.to_s, :remote => true%>
    </span>
    <span class="votes_count" id="status_votes_up_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_up", :locals => {:status => timeline_item}%>
    </span>
    <span class="vote_down"><i class="icon-arrow-down"></i>
      <%=link_to "vote down", "/votes/vote_status_down"+"?id=" + timeline_item.id.to_s, :remote => true%>
    </span>
    <span class="votes_count" id="status_votes_down_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_down", :locals => {:status => timeline_item}%>
    </span>
    <%if current_page?(action: 'show_public')%>
    <div class="pull-right follow_control_<%=timeline_item.user.id.to_s%>">
      <%=render partial: "/friendship/following_partial", :locals => {:user => timeline_item.user}%>
    </div>
    <%end%>
  </div>
  <%else%>
    <div class="status_voting_div">
    <span><i class="icon-arrow-up"></i>
      votes up:
    </span>
    <span class="votes_count" id="status_votes_up_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_up", :locals => {:status => timeline_item}%>
    </span>
    <span><i class="icon-arrow-down"></i>
     votes down:
    </span>
    <span class="votes_count" id="status_votes_down_<%=timeline_item.id.to_s%>">
      <%= render partial: "/votes/count_votes_down", :locals => {:status => timeline_item}%>
    </span>
    </div>
  <%end%>
</div>