<div id="comments<%=contribution.id.to_s%>">
	<%contribution.comments.each do |comment|%>
	<div id="comment_<%=comment.id.to_s%>">
		<%= user_avatar_one_line_small(comment.user).html_safe%> - 
		<span><small><%= time_ago_in_words comment.created_at%> Ago</small></span>
		<br><div class="comment">
			<% if comment.user_id == current_user.id%>
				<%= link_to "<i class='icon-remove pull-right'></i>".html_safe, {:controller=>"cvote", :action=> "remove_comment", :id => comment.id, remote: true, :method => :get}%>
			<%end%>
			<%= comment.text%>
			</div><br>
	</div>
	<%end%>
  <%=form_tag("/users/create_comment", :remote => true, :style=>"margin-bottom:0px;") do%>
	<span>
	<%=user_avatar_one_line_small_photo(current_user).html_safe%>
    <span>	<small><%= text_field_tag :text,nil, {:placeholder => "Comment ...", :style=>"width:90%;font-size:12px;margin-left:5px"}%></small></span>
	</span>
		<%=hidden_field_tag 'cid', contribution.id%> 
	<%end%>
</div>
