<br>
<%if @my_friends_cvotes.count != 0%>
  <%@my_friends_cvotes.each do |cvote|%>
  <%if cvote.instance_of? Poll%>
    <%=render partial: "/polls/poll_body_small", :locals => {:poll => cvote}%>
    <%next%>
  <%end%>
  <div id="cvote_<%=cvote.id%>" class="well well-small" style="margin-right:5px;background-color: white">
    <h6><%= cvote.name %></h6>
	<small>Submitted By: <%= user_avatar_one_line_small(cvote.user).html_safe %></small>
  	<small>- <%= time_ago_in_words cvote.created_at%> ago</small>    <ul class="thumbnails">
  		  	<br/>

      <%voted = false%>
      <% cvote.answers.each do |answer|%>
      <li class="span2 text-center thumbnail_custom" style="margin-bottom: 0">
        <%= cl_image_tag answer.image_id %>
        <span class="muted text-center">
    	  Votes: <span id="votes_for_answer_<%=answer.id%>"><%=answer.likes == nil ? 0 : answer.likes %></span>
        </span>
        <span class="text-center">
        	<% if @logged_in_user.cvoted?(cvote)%>
        		<%voted = true%>
        		<%else%>
        	<%end%>
        	<%if @logged_in_user.cvoted?(cvote) && CvoteTracker.find_by_user_id_and_cvote_id(@logged_in_user.id, cvote.id).answer == answer%>        				  
        		<br/><i class="icon-ok"></i>
        		<% voted = true%>	
        	<%else%>
        		<% if voted == false%>
        			<span id="button_<%=answer.id%>">
						<%=button_to "Vote", {:controller => "cvote", :action => "submit_cvote", :cvote_id => cvote.id, :answer_id => answer.id} , :class=>"btn btn-success", remote: true, :method => :get%>
					</span>
				<%end%>	
        	<%end%>
      	</span>
    </li>
  <%end%>
</ul>
<%= render partial: "comments", :locals => {:cvote => cvote}%>

</div>
<%end%>
<%end%>

