<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h6>New to Chilivote?</h6> 
  <h1>Sign up!</h1>
  <div class="field">
    <%= f.text_field :first_name , placeholder: "Fist Name"%>
  </div>
  <div class="field">
    <%= f.text_field :last_name , placeholder: "Last Name"%>
  </div>
  <div class="field">
    <%= f.text_field :email , placeholder: "Email"%>
  </div>
  <div class="field">
    <%= f.password_field :password , placeholder: "Password"%>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation , placeholder: "Confirm Password" %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, [['Male', 1],['Female', 0]] %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign Up!', :class=> 'btn btn-success'%>
  </div>
<% end %>


