<% if @is_friend%>
  <%= button_to ({:controller => 'friendship', :action => 'unfriend', :id => @viewed_user.id}), {:class=>"btn btn-primary btn-mini", :remote => true} do %>
    <i class='icon-white icon-remove'></i> Unfriend
	<%end%>
<%elsif @is_friendship_requested%>
<%= "<p><i class='icon-ok'></i> <small>Friend request sent</small></p>".html_safe %>
<%elsif @is_friendship_request_received%>
<div class="pull-left" style="width:100%;" id="friend_request_<%=@viewed_user.id.to_s%>_big">
					
					<div style="width:40%;" class="pull-left"><%= button_to "Accept", {:controller => 'friendship', :action => 'accept', :id => @viewed_user.id}, :class=>"btn btn-primary btn-mini", :remote => true%></div>
					<div style="width:40%;" class="pull-left"><%= button_to "Decline", {:controller => 'friendship', :action => 'decline', :id => @viewed_user.id}, :class=>"btn btn-default btn-mini", :remote => true%></div>
				</div>
<%else%>
<%= button_to ({:controller => 'friendship', :action => 'create', :id => @viewed_user.id}), {:class=>"btn btn-success btn-mini", :remote => true} do %>
			<i class='icon-white icon-plus'></i> Add Friend
		<%end%>
<%end%>
