<%#= render partial: "facebook_share_button"%>

<%image_fb = Object.new%>
<div id="voters_div" class="voters_div" style="position:absolute;display:none;background-color:black;color:white;padding:5px;"><small>Loading...</small></div>
  <% @my_friends_cvotes.each do |cvote|%>
  <%if cvote.instance_of? Poll%>
    <%=render partial: "/polls/poll_body_small", :locals => {:poll => cvote}%>
    <%next%>
  <%end%>
  <div id="cvote_<%=cvote.id%>" class="well well-small" style="margin-right:5px;background-color: white">
  	<span><h6><%= cvote.name %></h6></span>
  	<%if cvote.user_id == @current_user.id%>
  		<%= link_to "<i class='icon-remove pull-right'></i>".html_safe, {:controller=>"cvote", :action=> "remove_cvote", :id => cvote.id, remote: true, :method => :get}%>
  	<%end%>
  	<small>Submitted By: <%= user_avatar_one_line_small(cvote.user).html_safe %></small>
  	<small>- <%= time_ago_in_words cvote.created_at%> ago</small>
  	<br/></br/>
    	<ul class="thumbnails">
    		<%voted = false%>
    		<% cvote.answers.each do |answer|%>
    		    	<%image_fb = cvote.answers.first.image_id%>

    			<li class="span2 text-center thumbnail_custom" style="margin-bottom: 0">
        			<%= cl_image_tag answer.image_id %>
        			<span class="muted text-center">
    	  				Votes: <span class="some_trigger" id="votes_for_answer_<%=answer.id%>" data-url="<%= url_for(action: 'list_voters', answer_id: answer.id) %>"><%=answer.likes == nil ? 0 : answer.likes %></span>
        			</span>
        			<% if @current_user.id != cvote.user_id%>
        			<span class="text-center">
        				<% if @current_user.cvoted?(cvote)%>
        					<%voted = true%>
        				<%end%>
        				<%if @current_user.cvoted?(cvote) && CvoteTracker.find_by_user_id_and_cvote_id(@current_user.id, cvote.id).answer == answer%>        				  
        				  <br/><i class="icon-ok"></i>
        				  <% voted = true%>	
        				<%else%>
        					<% if voted == false%>
        						<span id="button_<%=answer.id%>">
									<%=button_to "Vote", {:controller => "cvote", :action => "submit_cvote", :cvote_id => cvote.id, :answer_id => answer.id} , :class=>"btn btn-success", remote: true, :method => :get%>
								</span>
							<%end%>	
        				<%end%>
        			</span>
        			<%end%>
    			</li>
    		<%end%>
    	</ul> 
    	<%= render partial: "comments", :locals => {:cvote => cvote}%>  	
    	<%if cvote.user_id == @current_user.id%>
    		<a href="http://www.facebook.com/dialog/feed?app_id=1072099729483016&amp;redirect_uri=http%3A%2F%2Fwww.chilivote.com&amp;link=http%3A%2F%2Fwww.chilivote.com&amp;name=<%=cvote.name%>&amp;description=Vote for my new chilivote&amp;picture=http://res.cloudinary.com/hgqr8qyb1/image/upload/<%=image_fb%>&amp;caption=www.chilivote.com">
         	   <%=cl_image_tag 'facebook_64_mshqe7', :width => 30, :height => 30%>
 		    </a>
    	<%end%>
    </div>
  <%end%>

<script>
//$(document).ready(function(){
//  $('.some_trigger').hover(function(){
//  	$("#voters_div").css({top: event.clientY, left: event.clientX}).show();
//    $.ajax($(this).data('url'));
//  }, function() {
//    $("#voters_div").hide();
//});
//});


$(document).ready(setTimeout(function(){
 $('.some_trigger').hover(function(e){
 var top = e.pageY+'px';
 var left = e.pageX+'px';   
 $.ajax($(this).data('url'));
 $('#voters_div').css({position:'absolute',top:top,left:left}).show();    
  }, function() {
    $("#voters_div").hide();
    $("#voters_div").html("Loading ...");
});
}),3000);

</script>


