<div style="margin-left:0px;max-height: 500px;overflow-y:auto;">
<smallest><%=link_to "Clear All", {:controller=>"users", :action => "clear_notifications", :mode => "all", :remote => true}, :style => "text-decoration:underline;font-size:smaller"%></smallest>
<div id="user_notifications">
<small>
<%if current_user.notifications.count == 0%>
  <centre><span class="text-capital"><%= "You have no new notifications"%></span></centre>
<%else%>
<% current_user.notifications.order(created_at: :desc).each do |notification|%>
	<% case notification.notification_type when 1%>
		<div <%=!notification.viewed ? "class=not_seen" : ''%> id="notification_element" onclick="location.href='<%='/users/'+current_user.id.to_s+"#container_" + notification.target_id.to_s%>';$.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> voted on your post</div>
  <% when 9 %>
  <div <%=!notification.viewed ? "class=not_seen" : ''%> id="notification_element" onclick="location.href='<%='/users/'+current_user.id.to_s+"#container_" + notification.target_id.to_s%>';$.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> voted on your post</div>
	<% when 2 %>
		<div <%=!notification.viewed ? "class=not_seen" : ''%> id="notification_element" onclick="location.href='<%='/users/'+notification.user_friend.to_s%>';$.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> accepted you friend request</div>
	<% when 3%>
		<div <%=!notification.viewed ? "class=not_seen" : ''%> id = "notification_element" onclick="location.href='<%='/users/'+notification.user_friend.to_s + "#cvote_" + notification.target_id.to_s%>'; $.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> created a new Chilivote</div>
	<% when 4%>
		<div <%=!notification.viewed ? "class=not_seen" : ''%> id = "notification_element" onclick="location.href='<%='/users/'+current_user.id.to_s + "#cvote_" + notification.target_id.to_s%>'; $.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> voted on your Chilivote</div>
	<% when 5%>
		<div <%=!notification.viewed ? "class=not_seen" : ''%> id = "notification_element" onclick="location.href='<%='/users/' + notification.user_friend.to_s%>'; $.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> created a new post</div>
	<% when 6%>
		<div <%=!notification.viewed ? "class=not_seen" : ''%> id = "notification_element" onclick="location.href='<%='/users/'+notification.user_friend.to_s + "#poll_" + notification.target_id.to_s%>'; $.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> posted a new question </div>
	<% when 7%>
		<div <%=!notification.viewed ? "class=not_seen" : ''%> id = "notification_element" onclick="location.href='<%='/users/'+current_user.id.to_s + "#poll_" + notification.target_id.to_s%>'; $.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> answered your question</div>
	<% when 8%>
	    <div <%=!notification.viewed ? "class=not_seen" : ''%> id = "notification_element" onclick="location.href='<%='/users/' + notification.target_id.to_s%>'; $.ajax('/users/clear_notifications?id=<%=notification.id%>');"><%= user_avatar_one_line_no_link(notification.user).html_safe%> changed status</div>
	<%end%>
	
<%end%>
<%end%>
</small>
</div>
</div>
