<div class="well well-small well-white">
  <div style="text-align:left;">
    <%= user_avatar_one_line(@current_user).html_safe%>
  </div>
<div style="width:178px;text-align:left;">
  <br>
  <span class="red_color"><strong>C STATUS  </strong></span><span id="following_count"><%=get_cstatus(@current_user)%></span><i class='icon-question-sign' title="C Status = Votes up - Votes down"></i><br><br>
  <span class="red_color"><strong>FOLLOWERS  </strong></span><span id="followers_count"><%=@user.followers.count%></span><br><br>
  <span class="red_color"><strong>FOLLOWING  </strong></span><span id="following_count"><%=@user.followed_users.count%></span>
</div>

 
<div class="sidebar-nav">
<ul class="nav nav-list" style="text-align:left;margin-top:10px">
  <%if current_user != @user%>
  <li id="follow_control">
    <%#=render partial: "/friendship/following_partial", :locals => {:user => @user}%>
  </li>
  <%end%>
  <li>
    <%= link_to "<i class='icon-envelope'></i>".html_safe+"Messages", '/conversations/'%>
  </li>
  <li>
    <%= link_to "<i class='icon-star'></i>".html_safe+"True Friends", '/polls/'%>
  </li>
  <li>
    <%= link_to "<i class='icon-bell'></i>".html_safe+"Notifications", '/categories/list_categories'%>
  </li> 
  <li>
    <%= link_to "<i class='icon-search'></i>".html_safe+"Find Friends", '/friends'%>
  </li> 
  <li>
    <%= link_to "<i class='icon-plus'></i>".html_safe+"Invite Friends", '/friends'%>
  </li>
  <li>
    <%= link_to "<i class='icon-plus-sign'></i>".html_safe+"Suggested Accounts", '/users/suggestions'%>
  </li> 
</ul>
</div>
<br/>
  <%= render partial: "/users/best_friends_box"%>
</div>