  <% if @is_current_user%>
	<div id="profile_image_container">
		<div id="profile_image_div">
			<%if @user.profile_image%>
				<%= cl_image_tag @user.profile_image, :width=>168, :height => 168, :crop => :fill, :class => "img-polaroid" %>
			<%else%>
				<%= cl_image_tag Chilivote::Application.config.default_profile_image, :width=>168, :height => 168, :crop => :fill, :class => "img-polaroid"%>
			<%end%>	
		</div>
		
		<div id="opaque_slider_div">
			<div id="opaque_div"></div>
			<div id="slider_camera_and_text_div">
				<%=cl_image_tag "v1401985862/ErjpFSQWdpX_zgzaux.png"%>
				Update Profile Picture
			</div>
		</div>
		<div id="uploader_form">
			<%= form_for (@user) do |u|%>
				<div class="field">
  	 				<%= cl_image_upload_tag(:image_id,
  	 					:crop => :fill, :width => 168, :height => 168,
                        :allowed_formats => ['JPG', 'PNG','GIF', 'BMP'],
                        :transformation => {:format => 'JPG'},
                        :eager => {:width => 40, :height => 40, :crop => :thumb},
                        :html => {:id => "my_uploader"}) %>
  	 			</div>
        	<%end%>
    	</div>
	</div>
	<%else%>
	  <%= cl_image_tag @user.profile_image ? @user.profile_image : Chilivote::Application.config.default_profile_image , :width=>168, :height => 168, :crop => :fit, :class => "img-polaroid"%>
	<%end%>

<br/></br/>
<div class="pull-left" class="">
<%= link_to "New Chilivote !", '/cvote/new' , {:class=>"btn btn-success text-white", :style=>"color:white;width:120px"}%>
</div><br><br>
<div class="pull-left" class="">
<%= link_to "True Friends", '/polls/' , {:class=>"btn btn-success text-white", :style=>"color:white;width:120px"}%>
</div>
