<div style="margin-left:0px;">
	<%if !@is_current_user && current_user.friends.include?(@user)%>
			<small><i><%= ("\"" + @user.status.title + "\"") if !@user.status.nil? %></i></small>
			<div id="status_vote_counts">
				<%=render partial: "/svotes/svotes_count_partial", :locals => {:user => @user}%>
			</div>
			
			<%if !@user.status.nil? and !@current_user.voted_for_status?(@user.status.id)%>
			<div id="status_vote_options" style="color:red">
				
				<small><%=link_to "vote up", "/svotes/vote_status_up"+"?id=" + @user.status.id.to_s, :remote => true%></small> 
				| 
				<small><%=link_to "vote down", "/svotes/vote_status_down"+"?id=" + @user.status.id.to_s, :remote => true%></small> 
			</div>
			<%end%>
	<%elsif @is_current_user%>
		<div id="status<%=@current_user.id.to_s%>"> 
			<%if !@current_user.status.nil?%>
				<small><i><%= ("\"" + @current_user.status.title + "\"")%></i></small><br>
				<%=render partial: "/svotes/svotes_count_partial", :locals => {:user => @current_user}%>
			<%end%>
		</div>
		<br>
		<%= form_tag("/users/create_status", :remote => true) do%>
		<small><%= text_field_tag :status_title,nil, {:placeholder => "What's chillin ..", :style=>"width:95%;font-size:12px;margin-left:0px"}%></small>
		<%end%>
		
	<%end%>
</div>
