<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span3 text-center">
<div id="profile_image_container">
		<div id="profile_image_div">
			<%if @user.profile_image%>
				<%= cl_image_tag @user.profile_image, :width=>168, :height => 168, :crop => :fill, :class => "img-polaroid" %>
			<%else%>
				<%= cl_image_tag Chilivote::Application.config.default_profile_image, :width=>168, :height => 168, :crop => :fill, :class => "img-polaroid"%>
			<%end%>	
		</div>
		
		<div id="opaque_slider_div">
			<div id="opaque_div"></div>
			<div id="slider_camera_and_text_div">
				<%=cl_image_tag "v1401985862/ErjpFSQWdpX_zgzaux.png"%>
				Update Profile Picture
			</div>
		</div>
		<div id="uploader_form">
			<%= form_for (@user) do |u|%>
				<div class="field form_line">
  	 				<%= cl_image_upload_tag(:image_id,
  	 					:crop => :fill, :width => 168, :height => 168,
                        :allowed_formats => ['JPG', 'PNG','GIF', 'BMP'],
                        :transformation => {:format => 'JPG'},
                        :eager => {:width => 40, :height => 40, :crop => :thumb},
                        :html => {:id => "my_uploader"}) %>
  	 			</div>
        	<%end%>
    	</div>
	</div>
<%= cloudinary_js_config %> 
	<%= render partial: "js_for_uploader"%>	
</div>


<div class="span9">
  <div class="field">
    <%= f.text_field :first_name , placeholder: "First Name"%>
  </div>
  <div class="field">
    <%= f.text_field :last_name , placeholder: "Last Name"%>
  </div>
  <div class="field">
    <%= f.password_field :password , placeholder: "Password"%>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation , placeholder: "Confirm Password" %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, [['Male', 1],['Female', 0]] %>
  </div>
  
  <div class="field">
  	<%= f.label :date_of_birth %>
	<%= f.date_select :dob, {:start_year => 1930, :end_year => 2010}%>
  </div>
  
  <div class="field">
    <%= f.label :About %>   
    <%= f.text_area :about%>
  </div>

  <div class="field">
  	<%= f.label :country %>
	<%= f.collection_select :country_id, Country.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.text_field :website , placeholder: "Website"%>
  </div>
  
  <div class="actions">
    <%= f.submit 'Update', :class=> 'btn btn-success'%>
  </div>
  </div>
  </div>
<% end %>
