<div class="well well-small well-white">
<%= form_tag("/users/create_status", {:style => "margin:0px;", :remote => true}) do%>
<%= text_area_tag :status_text,nil, {:placeholder => "What's chillin ..", :style=>"width:99%;font-size:12px;margin-left:0px;margin-top:5px;", :class => "text-area-no-border", :rows => "4"}%>
<div id="status_image_div" class="status_image_div"></div><br>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>            

  
<ul class="nav nav-pills no-margins-widget">
  <li class="active">
    <a href="javascript: void(0);" id="upload_widget_opener">photo</a>
  </li>
  <li class="active"><%= link_to "Create Chilivote", '/cvote/new/', {:remote => true}%></li>
  <li>
    <div class="btn-group" id="privacy_select">
      <%= render partial: "toggle_privacy"%>
    </div>
  </li>
  <li class="active button-widget-small" style="float:right">
    <%=submit_tag "Post", {:class => "btn btn-primary button-widget"}%>
  </li>
</ul>
  <%end%>
</div>
<%=render partial: "photos_widget_js"%>
<div id="cvote_new" class="cvote_new"></div>