<div class="row">
<div class="span3 text-center">
	<% if current_user?(@user)%>
	<div id="profile_image_container">
		<div id="profile_image_div">
			<%= cl_image_tag @user.profile_image ? @user.profile_image : Chilivote::Application.config.default_profile_image , :width=>168, :height => 168, :crop => :fit, :class => "img-polaroid"%>
		</div>
		
		<div id="opaque_slider_div">
			<div id="opaque_div"></div>
			<div id="slider_camera_and_text_div">
				<%=cl_image_tag "v1401985862/ErjpFSQWdpX_zgzaux.png"%>
				Update Profile Picture
			</div>
		</div>
		<div id="uploader_form">
			<%= form_for (@user) do |u|%>
				<div class="field">
  	 				<%= cl_image_upload_tag(:image_id,
  	 					:crop => :fill, :width => 168, :height => 168,
                        :allowed_formats => ['JPG', 'PNG','GIF', 'BMP'],
                        :transformation => {:format => 'JPG'},
                        :eager => {:width => 40, :height => 40, :crop => :thumb},
                        :html => {:id => "my_uploader"}) %>
  	 			</div>
        	<%end%>
    	</div>
	</div>
	<%else%>
	  <%= cl_image_tag @user.profile_image ? @user.profile_image : Chilivote::Application.config.default_profile_image , :width=>168, :height => 168, :crop => :fit, :class => "img-polaroid"%>
	<%end%>
</div>
<%= cloudinary_js_config %> 
<%= render partial: "js_for_uploader"%>	

<div class="span9">
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender ? 'Male' : 'Female' %>
</p>

<% if current_user?(@user)%>
<%= link_to 'Edit', edit_user_path(@user) %>
<%end%>
</div>
</div>
