<div class="row">
	<div class="span3 text-center">
		<%= render partial: "profile_image"%>
	</div>
	<%= cloudinary_js_config %> 
	<%= render partial: "js_for_uploader_2"%>	

	<div class="span7">
		<%= render partial: "profile_main"%>
	</div>

	<div class="span2 friends_box_right">
		<%= render partial: "friends_box"%>
	</div>
</div>
