<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender ? 'Male' : 'Female' %>
</p>

<% if current_user?(@user)%>
<%= link_to 'Edit', edit_user_path(@user) %>
<%end%>
