<div class="row">
	<div class="span3 text-center">
		<%= render partial: "profile_image"%>
	</div>
	<%= cloudinary_js_config %> 
	<%= render partial: "js_for_uploader"%>	

	<div class="span7">
		<%= render partial: "/users/profile/personal_information"%>
    <%= render partial: "/users/profile/feeds"%>
	</div>

	<div class="span2 friends_box_right">
		<%= render partial: "friends_box"%>
	</div>
</div>