<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="color:red">
	<small>
		<%if !@errors.nil?%>
		<%@errors.each do |err|%>
			<%= err %><br>
		<%end%>
		<%end%>
	</small>
</div>

  <div class="center">
  
  <div class="controls">
    <%= f.text_field :first_name , placeholder: "Name", :class=> "span4"%>
  </div>
  <div class="controls">
    <%= f.text_field :email , placeholder: "Email", :class=> "span4"%>
  </div>
  <div class="controls">
    <%= f.password_field :password , placeholder: "Create Password", :class => "span4"%>
  </div>
  
  <div class="actions controls">
    <center>
    <%= f.submit 'Sign Up', :class=> 'btn btn-danger btn-large btn-block'%>
      </center>
  </div>
    <hr broder="1" style="color:red;"/>
    <div class="actions controls" style="">
    
      <%= link_to (cl_image_tag "Facebook_di5cq7" ), "/auth/facebook", id: "sign_in" %>
  </div>
</div>
<% end %>


