<!DOCTYPE html>
<html>
<head>
  <title>Chilivote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="shortcut icon" href="http://res.cloudinary.com/hgqr8qyb1/image/upload/v1400960779/2020_fgiana.png"/>
  <meta name="google-site-verification" content="zKUUiVtXBD5-PAwkJ_NStVBgUqXxHiSlCt463kkvoyw" />
  
</head>
<body style="background-color:#e9e9e9">
<%= render 'layouts/header' %>

<div class="container">	
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
	<div style="text-align:center;">
<%= link_to "Start the chilivote experience", '/', {:class=> "btn btn-large"}%>
</div>
<div class="full-background"></div>
<ul class = "nav nav-pills pull-right">
  <li class="active"><%= link_to "LOG IN", "/sessions/new"%></li>
  <li class="active"><%= link_to "I HAVE A CODE", "/users/new"%></li>
</ul>
<br/><br/><br/><br/><br/>
<div style="text-align:center;width:100%;">
  <h1>BE IN THE SOCIAL NETWORK OF THE FUTURE</h1>
</div>
<div style="text-align:center;">
  <%= form_tag("/welcome/request_invitation/", method: "get", remote: true) do %>
<%= text_field_tag(:email) %>
  <br/>
  <%= submit_tag("Request Invitation", class:"btn btn-inverse ajaxified") %>
<% end %>
<div id="confirmation_message">
</div>
  
<div id = "ajax-spinner" class="ajax-spinner"><%=cl_image_tag("ajax-loader_xzmjon.gif")%></div>
</div>
<script>
$(document).ajaxStart(function() {
    $(".ajax-spinner").show();$(".ajaxified").hide();
  }).ajaxStop(function() {
      $(".ajax-spinner").hide();
  });
</script>
<br/><br/><br/><br/><br/>
</div>
<%= render 'layouts/footer' %>

<%= debug(params) if Rails.env.development? %>


</body>
</html>