<div class="full-background"></div>
<ul class = "nav nav-pills pull-right">
  <li class="active"><%= link_to "I HAVE A CODE", "/users/new"%></li>
</ul>
<br/><br/><br/>
<div class="pull-right">
  <%= render partial: "/sessions/new"%>
  </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div style="text-align:center;width:100%;">
  <h1 style="font-family: 'Comic Sans MS'">'The whole world together for better choices'</h1><br/>
  <span>- Social Network -</span>
</div>
<div style="text-align:center;">
  <%= form_tag("/welcome/request_invitation/", method: "get", remote: true) do %>
<%= text_field_tag(:email) %>
  <br/>
  <%= submit_tag("Request Invitation", class:"btn btn-inverse ajaxified") %>
<% end %>
<div id="confirmation_message">
</div>
  
<div id = "ajax-spinner" class="ajax-spinner"><%=cl_image_tag("ajax-loader_xzmjon.gif")%></div>
</div>
<script>
$(document).ajaxStart(function() {
    $(".ajax-spinner").show();$(".ajaxified").hide();
  }).ajaxStop(function() {
      $(".ajax-spinner").hide();
  });
</script>
<br/><br/><br/><br/><br/>