<%= form_for(@post) do |f| %>
<h3>Upload a new image and let others vote!</h3>  
<%=current_user.first_name%>
<%=current_user.posts.any?%>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= cl_image_upload_tag(:image_id,
                        :crop => :fit, :width => 150, :height => 100,
                        :allowed_formats => ['JPG', 'PNG','GIF', 'BMP'],
                        :transformation => {:format => 'JPG'}
                       ) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
