<h1>Listing posts</h1>

<%= link_to "show_all", {:controller => "posts", :action => "index", :mode => 1} ,:class => "admin_links", :method => :get%> ¦
<%= link_to "show_active", {:controller => "posts", :action => "index", :mode => 2} ,:class => "admin_links", :method => :get%> ¦
<%= link_to "show_inactive", {:controller => "posts", :action => "index", :mode => 3} ,:class => "admin_links", :method => :get%> ¦
<br/><br/>

<div id="admin_view">
<%= render partial: 'admin_view_posts'%>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
