<div class="row" class="span12">
	<h1><%=@post.category.name%></h1>
	<span <%= "style = font-weight:bold" if params[:view_by] == "recent" %>>
		<%= link_to "Most Recent", "/posts/" + (Post.where(:category_id => @post.category_id).order("id DESC").first).id.to_s + "?view_by=recent"%> |
	</span>
	<span <%= "style = font-weight:bold" if params[:view_by] == "random" %>>
		<%= link_to "Random", "/posts/" + (Post.where(:category_id => @post.category_id).limit(1).order("RANDOM()").first).id.to_s + "?view_by=random" %>
	</span>
</div>
<br/>
<div class="row" style="height:400px">
	<div class="span2">
		<span class="label label-success">My Photos</span><br/></br/>
		<% @my_photos.each do |my_photo|%>
			<span>		
				 <%= link_to "<i class='icon-remove'></i>".html_safe, post_path(my_photo, :back_to_page => request.original_url),
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
				<%= link_to (cl_image_tag my_photo.image_id , :height=> 60, :width => 90, :crop => :fill), "/posts/" + my_photo.id.to_s %>
				<span class="badge badge-info"><%= my_photo.votes.count %></span>
			</span>
			<h6>Rank: <% @rank = Vote.where(:category_id => my_photo.category_id).order("count_all desc").count(group: :post_id).keys.index(my_photo.id)%>
				<%= @rank.nil? ? "No Votes" : @rank+1%>
			</h6>
			<br/>
		<%end%>
	</div>
	<div class="span8 center" id="image_div">
		<%= cl_image_tag @post.image_id, :height => 400, :width => 600, :crop => :fit %>
	</div>
	<div class="span2">
		<span class="label label-success">Most Voted</span><br/></br/>
		<% @most_voted.each do |most_voted|%>
			<span>			
				<%= link_to (cl_image_tag Post.find(most_voted[0]).image_id , :height=> 60, :width => 90, :crop => :fill), "/posts/" + most_voted[0].to_s %>
				<span class="badge badge-info"><%= most_voted[1] %></span>
			</span>
			<br/><br/>
		<%end%>
	</div>
	
</div>
<div class="row center">
	<div id="votes_div"><%= render partial: "votes_count" %></div>
	<div id="owner_div"><strong><h6>Uploaded By: <%= link_to(@post.user.first_name + ' ' + @post.user.last_name, {:controller => :users, :action => :show, :id => @post.user.id}) %></h6></strong></div>
</div>
<hr/>
<div class="row">
	<div class="span2"></div>
	<div class="span6" id="like_form">
		<%= render partial: "like_form"%>
	</div>
	<div id="navigation_buttons">
		<%= render partial: 'navigation_buttons'%>
	</div>
	<div class="span2"></div>
</div>

<div class="row">
	<div class="span2"></div>
	<div class="span6">
		<%= render partial: "upload_button_form"%>
	</div>
	<div class="span2">
	</div>
	<div class="span2"></div>
</div>
<p>

