<div class="alert alert-info">Attention: this website is in testing mode, and will be up and functional very soon!</div>
<div class = "row">
	<div class = "span12">
		<h2>This month we are voting for ...</h2>
	</div>
</div>

<div class="row">
	<div class = "span12">
	<ul class="thumbnails">
	<% @categories.each do |category| %>
	
	<li class="span3 text-center thumbnail_custom" style="margin-bottom: 0">
    <a href="<%=category.posts.first ? '/posts/' + category.posts.first.id.to_s : '/'  %>" class="thumbnail">
    	<%= cl_image_tag category.image_id %>
    </a>
    <h5><%=category.name%></h5>
    <span class="muted text-center">
    	<%=category.description%>
    </span>
    <hr/>
  	</li>
  	
  	<%if @categories_counter % 4 == 0%>
		</ul></div></div><div class="row"><div class="span12"><ul class="thumbnails">
	<%end%>
	<% @categories_counter += 1%>
	
	<%end%>
</ul>
</div>
</div>


<% if !@logged_in_user.nil?%>
<div><span class="label label-info">Poll Vote of the month</span></div>
<%=render partial: "life_vote"%>
<%end%>
