<% if @user_votes.count == 0 %>
  <h4>You have no Chilivotes yet ... </h4>
  <%= link_to "Create a new Chilivote ...", '/cvote/new' , {:style=> "text-decoration:underline"}%>
<%else%>
  <h3> Your active Chilivotes </h3>
  <%= link_to "Create a new Chilivote ...", '/cvote/new' , {:style=> "text-decoration:underline"}%>
  <%@user_votes.each do |user_vote|%>
  <h6><%= user_vote.name %></h6>
  <ul class="thumbnails">
    <% user_vote.answers.each do |answer|%>
    <li class="span2 text-center thumbnail_custom" style="margin-bottom: 0">
      <%= cl_image_tag answer.image_id %>
      <span class="muted text-center">
    	Votes: <%=answer.likes%>
      </span>
    </li>
    <%end%>
  </ul>
  <hr>
  <%end%>
