	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        	<div class="row">
        		<div class="span2" style="margin-top: 6px">
        		<a href='/'><%= cl_image_tag "http://res.cloudinary.com/hgqr8qyb1/image/upload/v1400960064/Chilivote_big_msml8f.png", :width=>184, :height => 35 %> </a>
        		</div>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '/' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <%if signed_in?%>
              	<li id="fat-menu" class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                		<%= current_user.first_name + ' ' + current_user.last_name%> <b class="caret"></b>
              		</a>
              	<ul class="dropdown-menu">
                	<li><%= link_to "Profile", current_user %></li>
                	<li><%= link_to "Settings", '#' %></li>
                	<%if current_user.admin?%>
                	<li class="divider"></li>
                	<li><%= link_to "Users", '/users/' %></li>
                	<li><%= link_to "Categories", '/categories/' %></li>
                	<li><%= link_to "Posts", '/posts/' %></li>

                	<%end%>
	               	<li class="divider"></li>
                	<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              	</ul>
            	</li>
            	<% else %>
            		<li><%= link_to "Sign in", signin_path %></li>
          		<% end %>
            </ul>
          </nav>
          </div>
        </div>
      </div>
    </header>