<!DOCTYPE html>
<html>
<head>
  <title>Chilivote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="shortcut icon" href="http://res.cloudinary.com/hgqr8qyb1/image/upload/v1474318849/stuff-01111111_gfvdfy.png"/>
  <meta name="google-site-verification" content="zKUUiVtXBD5-PAwkJ_NStVBgUqXxHiSlCt463kkvoyw" />

</head>
<body style="background-color:#e9e9e9">
<%= render 'layouts/header' %>

<div class="container">	
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <script>
$('body').click(function(evt) {
    //if($(evt.target).parents('#notifications_div').length==0) {
  if($(evt.target).attr('id') != 'notifications_div'){
        $('#notifications_div').hide();
    }
});
  
  $('body').click(function(evt) {
    //if($(evt.target).parents('#notifications_div').length==0) {
  if($(evt.target).attr('id') != 'friend_requests'){
        $('#friend_requests').hide();
    }
});
    
     //$('body').click(function(evt) {
    //if($(evt.target).parents('#notifications_div').length==0) {
   //if ($('.voters_div').css('display') != 'none' ){
     // $('.voters_div').hide();
    //}
//});
</script>
	<%= yield %>
</div>
<%= render 'layouts/footer' %>

<%= debug(params) if Rails.env.development? %>


</body>
</html>
